@use "sass:map";
$bg-colors: (
    'main-background-color': #0E0E10,

);
    

@mixin page-container-conf{
    background-color: map.get($bg-colors , 'main-background-color' );
}

body,html{
    background-color: map.get($bg-colors , 'main-background-color' );

}

.page-container{
    @include page-container-conf;

}