@use "sass:map";
@import "reset.css";
@import "vars";

@mixin responsive($size) {
    @media (max-width: map.get($breakpoints, $size)) {
      @content;
    }
  }

@mixin page-container-conf {
    background-color: map.get($bg-colors, "main-background-color");
    color: map.get($text-colors, "main-text-color");
}

@mixin nav-styles {
    background-color: map.get($bg-colors, "nav-background-color");
    width: 100%;
    height: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 0.3125rem 1.25rem;
}

body,html{
    @include page-container-conf();
}

.nav{
    @include nav-styles();
}
