@use "sass:map";

$bg-colors: (
    'main-background-color': #0E0E10,

);

$text-colors: (
    'main-text-color': white,

);
    

@mixin page-container-conf{
    background-color: map.get($bg-colors , 'main-background-color' );
}

body,html{
    background-color: map.get($bg-colors , 'main-background-color' );
    color: map.get($text-colors , 'main-text-color' );

}

.page-container{

}